#root {
  width: 95%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container{
  background-color: rgb(23, 24, 22);
  width: 70%;
  height: 90vh;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
}

.configuration-div{
  width: 85%;
  height: 20%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 3rem
}

.slider-div{
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}

.slider-div .slide-names{
  width: 40%;
}
.slider-div .slider{
  width: 55%;
  cursor: pointer;
}

.apply-button{
  display: flex;
  justify-content: center;
}
.apply-button input{
  border: 1px solid white;
  margin-top: 2rem;
  border-radius: 1rem;
  width: 5rem;
  cursor: pointer;
}


.chat-box{
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat-box .chat-display-div{
  width: 90%;
  height: 80%;
  background-color: rgb(3, 6, 8);
  border-radius: 2rem;
}


.chat-box .chat-input-div{
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.chat-box .chat-input{
  resize: none;
  width: 60%;
  height: 3rem;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  padding: 5px;
}
.chat-box .chat-send{
  height: 3.5rem;
  width: 6rem;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
}